# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/
.tmp/
*.tsbuildinfo

# OS Specific
.DS_Store
Thumbs.db
desktop.ini
